:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light-grey: hsl(0, 0%, 93%);
  --color-accent: hsl(174, 100%, 45%);
  --color-accent-tint: hsl(174, 100%, 45%, 0.5);
  --color-dark-background: hsl(240, 15%, 15%);
  --color-background: hsl(240, 12%, 20%);
  --color-border: hsl(240, 9%, 25%);
  --color-text-light-primary: hsl(0, 0%, 97%);
  --color-text-light-tint: #7b818f;
  --box-shadow: ;
}
